.styles.layout{
    display: 'grid';
    gridTemplateColumns: '2fr 1fr';
    gap: '30px';
    height: 'calc(100vh - var(--header-height) - 80px)';
}

.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 120px;
}

.layout p {
    width: 500px;
    display:grid;
}

.lesson-content .p {
    width: 1px;
}

.chat-area{
    width: 200px;
}

@media (max-width: 768px) {
    .layout{
        grid-template-columns: 1fr;
        gap: 40px;
    }
}